:root {
  --primary: #d81e5b;
  --secondary: #8638ff;
  --light: #eee;
  --dark: #131a26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--light);
}

.my-app {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 50%;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.display {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #ddd;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  height: 80px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.operator-digits-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.operators {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 80px);
  background-color: var(--primary);
  font-weight: bold;
}

.digits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 80px);
}

.operator-button,
.digit-button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  font-weight: bold;
  background-color: #f1f1f1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
}

.operator-button:hover,
.digit-button:hover {
  background-color: #e1e1e1;
}

.operator-button:active,
.digit-button:active {
  background-color: #d1d1d1;
  box-shadow: none;
}
