* {
  box-sizing: border-box;
}

.my-app {
  display: flex;
  justify-content: center;
}

.calculator {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  border: none;
}

.display {
  background-color: rgb(14, 14, 41);
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 5px;
  font-size: 24px;
  font-weight: bold;
}

.operator-digits-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.digits {
  width: calc(75% - 5px);
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  width: calc(33.33% - 2px);
  height: 50px;
  margin: 0 2px 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.operators {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.operators button {
  background-color: rgb(39, 163, 163);
  height: 50px;
  margin: 0 0 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.digits button:nth-child(13) {
  width: calc(66.66% - 2px);
  margin-right: 0;
}

.operators button:nth-child(5) {
  order: -1;
}
